- to run claude code
- to be able to at a glance work out how much of prd is done (without llm)
- to be able to parse the prd.json correctly and fail if not
- to parse the prd with jq to make sure it's valid json as a quality gate
- to loop effectively through the prd
- to accumulate the progress as a json and stream it to cli
- whilst its waiting for claude code to finish it displays a progress spinner with a timer
- if there are errors it'll crash out
- to wrap the claudes and to terminate them when interrupted
- to queue the loop to stop after current task
- to exit the loop when you notice that <promise>COMPLETE</promise> hasn't been produced
